.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
  object-fit: cover;
}

.text-box {
  font-size: 18px;
  border: none;
  vertical-align: middle;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;

}
