p{
    font-family: Roboto; /*Times new roman is default*/
    margin-top: 0;
    margin-bottom: 0;  /*Setting the default margin top and bottom to 0*/
}

.video-title {
font-size: 18px;
font-weight: bold;
width: 300px;
line-height: 25px;
margin-bottom: 5px;
}

.video-stats{
font-size: 15px;
color: rgb(96, 96, 96);
margin-bottom: 20px;
}

.video-author{
font-size: 15px;
color: rgb(96, 96, 96);
margin-bottom: 20px;
}

.video-description{
font-size: 15px;
color: rgb(96, 96, 96);
width: 300px;
line-height: 22px;
margin-bottom: 100px;
}

.apple-text{
margin-bottom: 50px;
font-size: 14px;
background-color: rgb(227, 65, 64);
color: white;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
}

.shop-link:hover{
    cursor: pointer;
    text-decoration: underline;
}