.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.middle-section{
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 34px;
}

.search-button{
    height: 40px;
    width: 60px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
}

.right-section{
    background-color: lightblue;
    width: 200px;
}   